<app-nav></app-nav>
<div class="wrap">
    <h1>🍎Verduras Frescas</h1>
    <div class="store-wrapper">
        <section class="products-list">
            <div class="product-item" category="laptops">
                <img src="https://st.depositphotos.com/1003368/4972/i/600/depositphotos_49728271-stock-photo-fresh-organic-vegetables-and-fruits.jpg" alt="">
                <a href="#">Verduras Asiáticas</a>
            </div>
            <div class="product-item" category="laptops">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSulfJJ6ElUSC7NDnhq3Z0F-h2ordLgRrckVw&usqp=CAU" alt="">
                <a href="#">Acelga</a>
            </div>
            <div class="product-item" category="smartphones">
                <img src="https://files.alerta.rcnradio.com/alerta_tolima_prod/public/styles/article_desktop/public/migration/156.jpg?itok=tp5vF2F6" alt="">
                <a href="#">Habichuelas</a>
            </div>
            <div class="product-item" category="smartphones">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhmV4VE8I9zBHo5pWHGdDT2bu-X16E5ozW2g&usqp=CAU" alt="">
                <a href="#">Los espárragos</a>
            </div>
            <div class="product-item" category="ordenadores">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW_4s2Sp1K6s8I_TBPMuavbcTuChXLf1oRzA&usqp=CAU" alt="">
                <a href="#">Brócoli</a>
            </div>
            <div class="product-item" category="ordenadores">
                <img src="https://t2.rg.ltmcdn.com/es/images/5/8/0/coles_de_bruselas_al_ajillo_60085_600_square.jpg" alt="">
                <a href="#">Coles de Bruselas</a>
            </div>
            <div class="product-item" category="monitores">
                <img src="https://www.lafruteria.es/2461-large_default/alcachofas.jpg" alt=" ">
                <a href="# ">Alcachofas</a>
            </div>
            <div class="product-item " category="audifonos ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMsrAlthuJhKFlmUXi_-3Hw2DEDiEgE1yrJQ&usqp=CAU" alt=" ">
                <a href="# ">Zanahoria</a>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>