<app-nav></app-nav>
<div class="container">


    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td><img [src]="producto.url" alt="" width="100" height="100"></td>

            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>