<app-nav></app-nav>
<div class="container">


    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
            </tr>
        </tbody>
    </table>


</div>