<app-nav></app-nav>
<div class="wrap">
    <h1>🥩CARNICOS</h1>
    <div class="store-wrapper">
        <section class="products-list">
            <div class="product-item" category="laptops">
                <img src="https://s1.eestatic.com/2018/05/24/ciencia/alimentacion-nutricion-dietista_-_nutricionista_309731115_79145490_1024x576.jpg" alt="">
                <a href="#">Costilla Ahumada</a>
            </div>
            <div class="product-item" category="laptops">
                <img src="https://static.vix.com/es/sites/default/files/imj/elgranchef/p/pollo-entero-al-limon.jpg" alt="">
                <a href="#">Pollo Campesino</a>
            </div>
            <div class="product-item" category="smartphones">
                <img src="https://assets.debate.com.mx/__export/1489880697000/sites/debate/img/2017/03/18/carnes_carnicerxa_crop1489880504151.jpg_242310155.jpg" alt="">
                <a href="#">Colita de cuadril.</a>
            </div>
            <div class="product-item" category="smartphones">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtpRE_2ozn7IOgkkrpaFKxzoi7-FMppMC4IA&usqp=CAU" alt="">
                <a href="#">Carnes Especial</a>
            </div>
            <div class="product-item" category="ordenadores">
                <img src="https://www.ecestaticos.com/image/clipping/a14e1c5f638080f0aadd699cc71f8449/estas-son-las-diferencias-entre-ternera-vaca-buey.jpg" alt="">
                <a href="#">Asado de tira.</a>
            </div>
            <div class="product-item" category="ordenadores">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpBx2UpB0ZJgsg0QLSjfoJTxcch4S3lIldgA&usqp=CAU" alt="">
                <a href="#">Lomo sin Cordon</a>
            </div>
            <div class="product-item" category="monitores">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR72oGPK8PYocjqN36GHJ56qpsA9-L9IMS0YA&usqp=CAU" alt="">
                <a href="#">Peceto</a>
            </div>
            <div class="product-item" category="audifonos">
                <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-204355,resizemode-1,msid-49841561/industry/cons-products/food/india-to-reign-as-the-top-buffalo-meat-exporter-in-2016-usda-report.jpg" alt="">
                <a href="#">Cuadrada</a>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>