<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                </div>
            </div>
            
            <div class="site-branding-area">
                <div class="container">
                    <div class="row">
                        <div class="mainmenu-area">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#" [routerLink]="['/tabla']" >Productos de la Canasta Familiar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link " href="" [routerLink]="['/']">inicio</a>
                                </li>
                                
                                <li class=" nav-item ">
                                    <a class="nav-link"[routerLink]="['/inicio-sesion']" >Login</a>
                                </li>
                                
                                <li class=" nav-item ">
                                    <a class="nav-link"[routerLink]="['/registro']" >Registro</a>
                                </li>
                                
                                <li class=" nav-item " *ngIf="auth.isLoggedIn() | async" >
                                    <a class="nav-link" [routerLink]="['/']" (click)="auth.logout()">Salir</a>
                                </li>
                                
                                <li *ngIf="auth.isLoggedIn() | async" class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="auth.isLoggedIn() | async">{{auth.getCourrentUser()}}</a>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        
                                        <button class="dropdown-item" type="button" [routerLink]="['/']">Mi perfil</button>
                                        <button class="dropdown-item" type="button" [routerLink]="['/']"(click)="auth.logout()">Salir</button>
                                    
                                    </ul>
                                </li>
                            </ul>
                            <form class="d-flex ">
                                
                                <input class="form-control me-2 " type="search " placeholder="Qué buscas?" aria-label="Search ">
                                <button type="button" class="btn btn-danger">Buscar</button> </form>
                            </div>
                        </div>
                        <ul class="carrito">
                            <button type="button" class="cart"(click)="cart()"><a><i class="fa fa-shopping-cart"></i>Carrito</a></button>
                        </ul>
                    </nav>
                    <app-cart *ngIf="abrirCart"></app-cart>
                </div>
            </div>
        </div>
            

            <!--
            <li *ngIf="auth.isLoggedIn() | async" class="nav-item active">
                <a class="nav-link">|Bienvenid@ {{auth.getCourrentUser()}}|<span class="sr-only"></span></a>
            </li>
            <li *ngIf="auth.isLoggedIn() | async" class="nav-item active">
                <a class="nav-link" [routerLink]="['/cash']">Dinero<span class="sr-only"></span></a>
            </li>
        -->
            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


