<div class="fondo">
    <div *ngIf="load">
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src="https://3.bp.blogspot.com/-7dGg2SxOnPc/W58gx5zIm3I/AAAAAAAAFCM/ov25hkvKW0I0B-qruNE4_7wP0v7tiW5sQCLcBGAs/s1600/favicon.png" th:src="@{/img/user.png}" />
                    </div>
                    <form *ngIf="!(auth.isLoggedIn() | async)" [formGroup]="form" (ngSubmit)="onSubmitToken()" method="POST" [formGroup]="form" action="/inicio-sesion" (ngSubmit)="onSubmit()">
                        <div class="form-group" id="user-group">
                            <input formControlName="email" type="email" class="form-control" placeholder="Nombre de Usuario">
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input formControlName="password" type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input style="color:red" type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        ¿No tienes una cuenta?<a href='/registro'>Suscribirse</a>
                    </div>

                </div>
            </div>
        </div>
        <h1 *ngIf="auth.isLoggedIn() | async">Se ha Logueado exitosamente!</h1>
    </div>
    <div *ngIf="!load" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<app-footer></app-footer>