<div class="img">
    <div *ngIf="load">
        <div class="registro">

            <div class="formulario">
                <form method="POST" action="/registro" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="texto">
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="nombres">Nombres</label>
                                <input formControlName="nombres" type="text" class="form-control" name="nombres" placeholder="Ingrese su nombre completo">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="apellidos">Apellidos</label>
                                <input formControlName="apellidos" type="text" class="form-control" name="apellidos" placeholder="apellidos">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="documento">Documento</label>
                                <input formControlName="documento" type="text" class="form-control" name="documento" placeholder="Ingrese su Documento">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input formControlName="direccion" type="text" class="form-control" name="direccion" placeholder="direccion">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="telefono">Telefono</label>
                                <input formControlName="telefono" type="text" class="form-control" name="telefono" placeholder="Ingrese su Telefono">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="correo">Correo</label>
                                <input formControlName="correo" type="email" class="form-control" name="correo" placeholder="Ingrese su correo">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="password">Contraseña</label>
                                <input formControlName="password" type="password" class="form-control" name="password" placeholder="Ingrese su clave">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputCity">Ingrese su Clave</label>
                                <input formControlName="password_verifi" type="password" class="form-control" name="confirmarClave" placeholder="Repetir Clave">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>

                </form>
            </div>
        </div>
    </div>
    <div *ngIf="!load" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<app-footer></app-footer>