<div class="img">
    <div *ngIf="load">
        <div class="registro">

            <div class="formulario">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="texto">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Nombres</label>
                                <input formControlName="nombres" type="text" class="form-control" name="nombreCompleto" placeholder="Ingrese su nombre completo">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputAddress1">Apellidos</label>
                                <input formControlName="apellidos" type="text" class="form-control" name="apellido" placeholder="apellidos">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputAddress">Documento</label>
                                <input formControlName="documento" type="text" class="form-control" name="documento" placeholder="Ingrese su documento">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input formControlName="direccion" type="text" class="form-control" name="direccion" placeholder="direccion">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="telefono">Telefono</label>
                                <input formControlName="telefono" type="text" class="form-control" name="telefono" placeholder="Ingrese su Telefono">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputCity">Correo</label>
                                <input formControlName="correo" type="email" class="form-control" name="correo" placeholder="Ingrese su correo">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="telefono">Clave</label>
                                <input formControlName="password" type="password" class="form-control" name="clave" placeholder="Ingrese su clave">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputCity">Ingrese su Clave</label>
                                <input formControlName="password_verifi" type="password" class="form-control" name="confirmarClave" placeholder="Repetir Clave">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                    <div class="col-xs-12 col-md-4">

                        <a class="boton1" href="/inicio" class="btn btn-primary">Inicio</a>
                        <a class="boton1" href='/' class="btn btn-primary">Inicio</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="!load" class="sk-folding-cube" role="status">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>